In [1]:
import pandas as pd
import random
from time import strftime
from datetime import datetime

In [2]:
#creating a DataFrame to store the transactional data in an organized way 
df = pd.DataFrame(columns = ["transaction_id", "timestamp", "product_id", "quantity", "price", "customer_id"])

#save it to csv file
df.to_csv("retail_transactions.csv", index = False)

transaction_df = pd.read_csv("retail_transactions.csv")
transaction_df.head()

Empty DataFrame
Columns: [transaction_id, timestamp, product_id, quantity, price, customer_id]
Index: []

In [3]:
#creating a function to generate transaction data 
def generator(df):
    transaction_id = "t1"
    while transaction_id in df['transaction_id'].values:
        prefix, num = transaction_id[0], int(transaction_id[1:])
        transaction_id = f"{prefix}{num+1}"
    
    timestamp = datetime.now().strftime('%Y-%m-%d %H:%M:%S')
    product_id = f"P{random.randint(100,1000)}"
    quantity = random.randint(1,5)
    price = round(random.uniform(5, 100), 2) 
    customer_id = "C1"
    while customer_id in df['customer_id'].values:
        prefix, num = customer_id[0], int(customer_id[1:])
        customer_id = f"{prefix}{num+1}"
    generated_df = pd.DataFrame({"transaction_id" : [transaction_id],
                                 "timestamp" : [timestamp],
                                 "product_id" : [product_id],
                                 "quantity" : [quantity],
                                 "price" : [price],
                                 "customer_id" : [customer_id]})
    df = df.dropna(axis=1, how='all')
    generated_df = generated_df.dropna(axis=1, how='all')
    transaction_df = pd.concat([df, generated_df], ignore_index = True)
    transaction_df.to_csv("retail_transactions.csv", index=False)
    
generator(transaction_df)

In [4]:
transaction_df = pd.read_csv('retail_transactions.csv')
transaction_df.head()

  transaction_id            timestamp product_id  quantity  price customer_id
0             t1  2024-10-29 19:00:17       P376         4  65.96          C1

In [5]:
generator(transaction_df)
transaction_df = pd.read_csv('retail_transactions.csv')
transaction_df.head()

  transaction_id            timestamp product_id  quantity  price customer_id
0             t1  2024-10-29 19:00:17       P376         4  65.96          C1
1             t2  2024-10-29 19:00:17       P680         4  41.97          C2